<h1>Productos en Tiempo Real</h1>
<ul id="productList">
    {{#each products}}
    <li>{{title}} - ${{price}}</li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    socket.on('productUpdated', (products) => {
    const productList = document.getElementById('productList');
    productList.innerHTML = '';
    products.forEach(product => {
        const li = document.createElement('li');
        li.textContent = `${product.title} - $${product.price}`;
        productList.appendChild(li);
    });
    });
</script>
